<p id="notice"><%= notice %></p>



 <div class="row">
    <% @products.each do |product| %>
     
     <div class="col-md-5">
         <div class="panel panel-danger">
             <div class="panel-heading">
                 <h5><%= product.title %></h5>
                  </div>
             
              <div class="panel-body">
                  <p><%= link_to image_tag(product.image_url, width: '300'), product  %></p>
   
        
                  <p><%= truncate product.description, length: 120 %></p>
          
<p><%= number_to_currency product.price, unit: '£' %></p>
        
       
   
        <p><%= link_to 'Show', product %> |
        <%= link_to 'Edit', edit_product_path(product) %> |
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %> |
            <a href="/carts/<%= product.id %>">Add to Cart</a></p>
      </div>
        </div>  
          </div>  
    <% end %>
   
 </div> 
<br>

     <p><%= link_to 'New Product', new_product_path %></p>
  