<p id="notice"><%= notice %></p>

<div class="container-fluid">
    

 <div class="media">
    <span class="media-right"><%= image_tag @product.image_url, :width => '300' %></span>

</div>
<p>   
  
  <strong><%= @product.title %></strong>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @product.subcategory %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>